:root {
--main-bcg-color: #ffffff;
--bcg-light: #F4F4FD;
--main-color: #434455;
--secondary-color: #2E2F42;
--hover-color: #404BBF;
--soc-icon-bcg: #4D5AE5;
--customers-color: #8E8F99;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--main-color);
    background-color: var(--main-bcg-color);
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

img {
    display: block;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.link {
    text-decoration: none;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* -----------------HEADER---------------- */

.header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    flex-direction: row;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-list {
    display: flex;
    gap: 40px;
}

.header-item {
    display: flex;
}

.header-link {
    display: block;
    position: relative;
    padding-top: 24px;
    padding-bottom: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover,
.header-link:focus,
.current {
    color: var(--hover-color);
}

.header-link:active {
    text-decoration: underline;
    border-radius: 2px;
}

.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--hover-color);
}

.address {
    font-style: normal;
    display: block;
    margin-left: auto;
}

.address-list {
    display: flex;
    gap: 40px;
}

.address-item {
    padding-top: 24px;
    padding-bottom: 24px;
}

.contacts {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-color);
    display: inline-block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts:hover,
.contacts:focus {
    color: var(--hover-color);
}

.header-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--soc-icon-bcg);
    margin-right: 76px;
}

.header-logo-color {
    color: var(--secondary-color);
}

/* -----------------HERO---------------- */

.hero {
    background-color: var(--secondary-color);
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
    background-position: center;
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--main-bcg-color);
    max-width: 496px;
    margin: 0 auto 48px auto;
}

.hero-btn {
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    letter-spacing: 0.04em;
    color: var(--main-bcg-color);
    background-color: var(--soc-icon-bcg);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    min-width: 169px;
    min-height: 56px;
    padding: 16px 32px;
    display: block;
    margin: 0 auto;
    height: 56px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--hover-color);
}

/* -----------------ADVANTAGES---------------- */

.advantages {
    padding-top: 120px;
    padding-bottom: 120px;
}

.advantages-title {
    margin-bottom: 8px;
}

.advantages-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
    margin-bottom: 8px;
}

.advantages-list {
    display: flex;
    gap: 24px;
}

.advantages-item {
    display: block;
    width: 264px;
}

.icon-block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 112px;
    background-color: var(--bcg-light);
    border-radius: 4px;
    margin-bottom: 8px;
}

.advantages-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* -----------------EXAMPLES---------------- */

.examples {
    padding-bottom: 120px;
}

.examples-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: var(--secondary-color);
    margin-bottom: 72px;
}

.examples-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.examples-item {
    border: 1px solid #E7E9FC;
    width: calc((100% - 48px) / 3)
}

/* -----------------TEAM---------------- */

.team {
    background-color: var(--bcg-light);
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    
}

.team-item {
    /* display: block; */
    width: calc((100% - 72px) / 4);
    background-color: var(--main-bcg-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--secondary-color);
    margin-bottom: 72px;
}

.worker {
    padding: 32px 16px;
}

.worker-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
    text-align: center;
    margin-bottom: 8px;
}

.worker-position {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.team-soc-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}

.team-soc-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: var(--soc-icon-bcg);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-link:hover,
.team-soc-link:focus {
    background-color: var(--hover-color);
}

.team-soc-item {
    width: 40px;
    height: 40px;
}

.team-soc-icon {
    fill: var(--bcg-light);
}

/* -----------------CUSTOMERS---------------- */

.customers {
padding-top: 120px;
padding-bottom: 120px;
}

.customers-title {
    color: var(--secondary-color);
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.customers-list {
    box-sizing: border-box;
    display: flex;
    gap: 24px;

}

.customers-item  {
    width: calc((100% - 120px) / 6);
    height: 88px;
}

.customer-link {
    width: 100%;
    height: 100%;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--customers-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-link:hover,
.customer-link:focus {
    border-color: var(--hover-color);
    color: var(--hover-color);
}

.customers-icon {
    fill: currentColor;
}

/* -----------------FOOTER---------------- */

.footer {
    background-color: var(--secondary-color);
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-wrap {
    display: flex;
    align-items: baseline;
}

.footer-cont-text {
    width: 264px;
    margin-right: 120px;
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--soc-icon-bcg);
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo-color {
    color: var(--bcg-light);
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--bcg-light);
    width: 100%;
}

.footer-soc-sub-text {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--main-bcg-color);
margin-bottom: 16px;
}

.footer-soc-list {
display: flex;
gap: 16px;
}

.footer-soc-item {
    height: 40px;
    width: 40px;
}

.footer-soc-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: var(--soc-icon-bcg);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.footer-soc-link:hover,
.footer-soc-link:focus {
    background-color: #31D0AA;
}

.footer-soc-icon {
    fill: var(--bcg-light);
}

.footer-subscribe {
    margin-left: 80px;
}

.subsribe-form {
    display: flex;
    gap: 24px;
}

.footer-input {
    width: 264px;
    height: 40px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    align-items: center;
    letter-spacing: 0.04em;
    color: var(--main-bcg-color);
    padding-left: 16px;
    outline: transparent;
    background-color: transparent;
    border: 1px solid var(--main-bcg-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}

.footer-input::placeholder {
    color: var(--main-bcg-color);
}

.submit-btn {
    min-width: 165px;
    height: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--main-bcg-color);
    background-color: var(--soc-icon-bcg);
    border-radius: 4px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-btn:hover,
.submit-btn:focus {
    background-color: var(--hover-color);
}

.submit-icon {
    margin-left: 16px;
    fill: var(--main-bcg-color);
}

/* -----------------BACKDROP---------------- */

.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    width: 408px;
    min-height: 584px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scaleX(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 72px 24px 24px 24px;
}

.backdrop.is-hidden .modal {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scaleX(0);
}

.modal-close {
    display: flex;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    padding: 0;
    cursor: pointer;
    border-radius: 50%;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.modal-close:hover,
.modal-close:focus {
    background-color: var(--hover-color);
    border: none;
    color: #fff;
}

.modal-close-icon {
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.modal-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
    margin-bottom: 16px;
}

.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-wrap {
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
}

.modal-label {
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
}

.modal-input-wrap {
    position: relative;
}

.modal-input {
    width: 100%;
    height: 40px;
    padding-left: 38px;
    outline: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: var(--soc-icon-bcg);
}

.modal-input:focus + .modal-input-icon {
    fill: var(--soc-icon-bcg);
}

.modal-input-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea-wrap {
    margin-bottom: 16px;
}

.modal-textarea {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    width: 100%;
    height: 120px;
    resize: none;
    padding: 8px 16px;
    background-color: transparent;
    outline: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
    border-color: var(--soc-icon-bcg);
}

.modal-checkbox {
    margin-top: 8px;
    margin-bottom: 24px;
}

.modal-label-checkbox {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--customers-color);
}

.icon-label-checkbox {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-checkbox:checked + .modal-label-checkbox span {
    background-color: var(--hover-color);
    border: none;
    fill: var(--bcg-light);
}

.label-checkbox-link {
    color: var(--soc-icon-bcg);
}

.send-btn {
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    padding: 16px 32px;
    color: var(--main-bcg-color);
    background-color: var(--soc-icon-bcg);
    border-radius: 4px;
    border: none;
    letter-spacing: 0.04em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .send-btn:hover,
    .send-btn:focus {
    background-color: var(--hover-color);
    }

/* -----------------PORTFOLIO---------------- */

.portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}
.portfolio-filter-list {
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
    gap: 24px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-item {
    width: 360px;
    height: 420px;
}

.portfolio-link:hover .link-cover-text,
.portfolio-link:focus .link-cover-text {
    transform: translateY(0);
    opacity: 1;
}

.portfolio-link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.portfolio-link:hover,
.portfolio-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-border {
    border: 1px solid #E7E9FC;
    border-top: none;
    padding: 32px 16px;
}

.portfolio-link-cover {
    position: relative;
    overflow: hidden;
}

.link-cover-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--bcg-light);
    background-color: var(--soc-icon-bcg);
    padding: 40px 32px;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-filter-btn {
    display: block;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--soc-icon-bcg);
    background-color: var(--bcg-light);
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    padding: 12px 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.portfolio-filter-btn:hover,
.portfolio-filter-btn:focus {
    border: 1px solid transparent;
    color: var(--main-bcg-color);
    background-color: var(--hover-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
    margin-bottom: 8px;
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-color);
}